<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Dropdown</title>
  </head>

  <body>
    <div id="dropdown">
      <div class="wrapper">
        <base-select
          :options="genderOptions"
          v-model="selectedGender"
          input-label="Choose gender"
          id="genderSelect"
        ></base-select>
        <p v-if="selectedGender">{{ selectedGender }}</p>
        <br />
        <br />
        <dropdown
          :options="carOptions"
          @update-value="updateSelectedCarValue"
          label-text="Select car"
          selector-id="carSelector"
          disabled-option-text="Cars"
        >
        </dropdown>
        <p v-if="selectedCar">{{ selectedCar }}</p>
      </div>
    </div>

    <!-- SELECT -->
    <script type="text/x-template" id="base-select">
        <label class="def-label">{{ inputLabel }}</label>
        <select
            v-bind="$attrs"
            class="def-input"
            v-model="selectedOption"
        >
            <option value="" disabled>Genders</option>
            <option v-for="(option, index) in options" :key="index" :value="option">{{ option }}</option>
      </select>
    </script>

    <!-- DROPDOWN -->
    <script type="text/x-template" id="base-dropdown">
        <label :for="selectorId" class="def-label">{{ labelText }}</label>
      <select
        name="test"
        :id="selectorId"
        class="def-input"
        @change="showChange"
        v-model="selectedVal">
          <option value="" disabled>{{disabledOptionText }}</option>
          <option
            v-for="(option, index) in options"
            :value="option"
            :key="index">
            {{ option }}
        </option>
      </select>
      <p class="def-label" v-if="selectedVal">Selected car: {{ selectedVal }}</p>
    </script>

    <!-- IMPORTS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./main.js"></script>
  </body>
</html>
